<nav id='main-navigation-wrapper'>
    <ul id='main-navigation'>
        <li class='main-navigation-button' id='main-navigation-button-user' aria-label='Main Navigation User'>
			<a routerLink="user" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>User</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-search' aria-label='Main Navigation Search'>
			<a routerLink="search" routerLinkActive="active" class="main-navigation-link"></a>
			<!-- This points to a component page but will also have a component visible onmouseover, still toying with concept -->
            <span class='tooltiptext'>Search</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-post' aria-label='Main Navigation Post'>
			<!-- This will have a dropdown style component visible onmouseover -->
            <span class='tooltiptext tooltiptext-c'>Post</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-chat' aria-label='Main Navigation Chat'>
			<a routerLink="chat" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Chat</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-friends' aria-label='Main Navigation Friends'>
			<a routerLink="friends" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Friends</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-groups' aria-label='Main Navigation Groups'>
			<a routerLink="groups" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Groups</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-shop' aria-label='Main Navigation Shop'>
			<a routerLink="shop" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Shop</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-alerts' aria-label='Main Navigation Alerts'>
			<!-- This will have a dropdown style component visible onmouseover -->
            <span class='tooltiptext tooltiptext-c'>Alerts</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-settings' aria-label='Main Navigation Settings'>
			<a routerLink="settings" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Settings</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-help' aria-label='Main Navigation Help'>
			<a routerLink="help" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Help</span>
        </li>
        <li class='main-navigation-button' id='main-navigation-button-donate' aria-label='Main Navigation Donate'>
			<a routerLink="donations" routerLinkActive="active" class="main-navigation-link"></a>
            <span class='tooltiptext'>Donate</span>
        </li>
    </ul>
</nav>