<nav id='main-navigation-wrapper'>
	<ul id='main-navigation'>
		<li class='main-navigation-button' id='main-navigation-button-user' aria-label='Main Navigation User'>
			<a routerLink="user" routerLinkActive="active" class="main-navigation-link"></a>
		</li>
		<li class='main-navigation-button' id='main-navigation-button-search' aria-label='Main Navigation Search'>
			<!-- This points to a component page but will also have a component visible onmouseover, still toying with concept -->
			<a routerLink="search" routerLinkActive="active" class="main-navigation-link"></a>
		</li>
		<li class='main-navigation-button' id='main-navigation-button-post' aria-label='Main Navigation Post'>
			<!-- This will have a dropdown style component visible onmouseover -->
		</li>
		<li class='main-navigation-button' id='main-navigation-button-chat' aria-label='Main Navigation Chat'>
			<a routerLink="chat" routerLinkActive="active" class="main-navigation-link"></a>
		</li>
		<li class='main-navigation-button' id='main-navigation-button-friends' aria-label='Main Navigation Friends'>
			<a routerLink="friends" routerLinkActive="active" class="main-navigation-link"></a>
		</li>
		<li class='main-navigation-button' id='main-navigation-button-groups' aria-label='Main Navigation Groups'>
			<a routerLink="groups" routerLinkActive="active" class="main-navigation-link"></a>
		</li>
		<li class='main-navigation-button' id='main-navigation-button-shop' aria-label='Main Navigation Shop'>
			<a routerLink="shop" routerLinkActive="active" class="main-navigation-link"></a>
		</li>
		<li class='main-navigation-button' id='main-navigation-button-alerts' aria-label='Main Navigation Alerts'>
			<!-- This will have a dropdown style component visible onmouseover -->
		</li>
		<li class='main-navigation-button' id='main-navigation-button-hamburger' aria-label='Main Navigation Hamburger Dropdown'>
			<ul id='main-navigation-hamburger-dropdown'>
				<li class='main-navigation-hamburger-dropdown-button' id='main-navigation-button-settings' aria-label='Main Navigation Settings'>
					<a routerLink="settings" routerLinkActive="active" class="main-navigation-link">Settings</a>
				</li>
				<li class='main-navigation-hamburger-dropdown-button' id='main-navigation-button-help' aria-label='Main Navigation Help'>
					<a routerLink="help" routerLinkActive="active" class="main-navigation-link">Help</a>
				</li>
				<li class='main-navigation-hamburger-dropdown-button' id='main-navigation-button-donate' aria-label='Main Navigation Donate'>
					<a routerLink="donations" routerLinkActive="active" class="main-navigation-link">Donate</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>